XEP-0438: Best practices for password hashing and storage

I am not sure but SCRAM-SHA-256(-PLUS) is prefered than SCRAM-SHA-1(-PLUS) no?
- https://xmpp.org/extensions/xep-0438.html

Warning the RFC 8600 is not listed in this XEP:
- https://tools.ietf.org/html/rfc8600

The important text is:
"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802])"

I think that we must to change:

    EXTERNAL
    SCRAM-SHA-1-PLUS, SCRAM-SHA-256-PLUS
    SCRAM-SHA-1, SCRAM-SHA-256
    PLAIN
    DIGEST-MD5, CRAM-MD5

by

    EXTERNAL
    SCRAM-SHA-256-PLUS, SCRAM-SHA-256
    SCRAM-SHA-1-PLUS, SCRAM-SHA-1
    PLAIN
    DIGEST-MD5, CRAM-MD5

or

    EXTERNAL
    SCRAM-SHA-256-PLUS, SCRAM-SHA-1-PLUS
    SCRAM-SHA-256, SCRAM-SHA-1
    PLAIN
    DIGEST-MD5, CRAM-MD5

Thanks in advance.

This is not an **editorial** issue. I invite you to direct your concerns to the [standards mailing list](https://mail.jabber.org/mailman/listinfo/standards).

> I am not sure but SCRAM-SHA-256(-PLUS) is prefered than SCRAM-SHA-1(-PLUS) no?

No, they are equivalent. It is time that we started thinking about moving off of SCRAM-SHA-1 just in case, but it's not actually any weaker than 256 as far as we know. The PLUS variants are preferred over the non-plus variants, but otherwise the SHA-1 is just used in an HMAC so it's still fine. It's better to have a version with channel binding (ie. SCRAM-SHA-1-PLUS) over a version with no channel binding but a slightly less weak hash in the HMAC (SCRAM-SHA-256).

> Warning the RFC 8600 is not listed in this XEP:

I think this is unrelated to the XEP and outside of its scope, but I admit that I haven't read it all the way through so I'll go back and double check that I haven't missed anything. I disagree with its assessment in the section you quoted, but I'll re-read to make sure I'm not misunderstanding or missing some important context. Thanks for the link.

> No problem for Obsolete part, the order is good "DIGEST-MD5 > CRAM-MD5".

At one point DIGEST-MD5 might have been superior to CRAM-MD5 but they're both just broken now.

@SamWhited: You know that I have done a lot of job about SCRAM-SHA-256(-PLUS) that it is implemented in several softwares (XMPP servers/clients/libraries and not XMPP related too).
- https://github.com/scram-xmpp/info/issues/1

In your XEP-0438, the order is not good.

In RFC 8600 that I promote since a long time, it is clear:
- SCRAM-SHA-256-PLUS > SCRAM-SHA-256 > SCRAM-SHA-1-PLUS > SCRAM-SHA-1

Please update the XEP in this sense.

Like I have noted, no problem for Obsolete part : DIGEST-MD5 > CRAM-MD5.

> You know that I have done a lot of job about SCRAM-SHA-256(-PLUS) that it is implemented in several softwares (XMPP servers/clients/libraries and not XMPP related too).

Yes, I am aware. However, appeals to authority do not make you correct. 

> In RFC 8600 that I promote since a long time, it is clear:

As I said, I think that RFC is wrong. There are no known pre-image attacks against SHA-1 which makes it just fine in an HMAC. Therefore it is roughly equivalent security. If we both agree that channel binding is better than no channel binding, that means that we should prioritize the two channel binding versions over the non-channel binding versions. That is my logic for the current order. If you want me to change it you're going to need to justify your ordering with something other than "an RFC says so" and "I have done work in this area". 

> Like I have noted, no problem for Obsolete part : DIGEST-MD5 > CRAM-MD5

I'm sorry, I guess I misunderstood. It looks like you're using a greater than sign to say that DIGEST-MD5 is better to implement than CRAM-MD5, but this is not what I said in the document. I said "DIGEST-MD5 = CRAM-MD5". However, if I'm misunderstanding and there's no problem that's fine then :)

Can we please stop discussing this here. If you want to discuss process please discuss this with editors directly.